$cta: #06D15D;
$main: #6D91D1;

.product {
    .addproduct {
        width: 100%;
        margin: 0px;
        align-items: center;
    }
    .inner {
        .productinfo {
            height:100%;
        }
    }
}

.overall {
    .row {
        div {
            flex-grow: 1;
        }
        .score--bar {
            width: 25%;
        }
    }
}

.scoresrow {
    display:flex;
    align-items: center;
    flex-wrap: nowrap;
    span {
        flex-grow: 1;
    }
    div {
        flex-grow: 1;
    }
    .the-bar {
        width: 25%;
    }
}


.scores-vergelijker {
    width:100%;
    tr {
        align-items: center;
        td {
            flex-grow:1;
        }
        td.bar {
            min-width: 120px;
            padding: 0px 6px;
        }
        td.the-score {
            white-space: nowrap;
        }
    }
    tr:nth-child(2) {
        td {
            padding-top:10px;
        }

    }
    td {
        padding: 5px 0px;
    }
    tr.main-score {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        padding: 0px 10px;
        td {
            padding: 10px 0px;
        }
        td.bar {
            padding: 10px 6px;
        }
        td.main-score-item {
            .x-score {
                font-weight: 600;
                font-size: 28px;
                line-height: 32px;
                display: flex;
                align-items: center;
            }
        }
    }
    .the-bar {
        width: 100%;
        height: 10px;
        background: #E0E0E0;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
        border-radius: 50px;
        position: relative;
        min-width: 85px;
        max-width: 140px;
        float: right;
    }
}


.v-content {
    span.advice-price {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #333333;
        padding: 40px 0px 20px 0px;
        display: block;
    }
    .cta-btn {
        background: $cta;
        font-weight: bold;
        margin:0 auto;
        display: table;
        margin-bottom: 50px;
    }
    .full--btn {
        width:100%;
        text-align: center;
        margin-bottom: 60px;
        display: block;
        font-weight: 600;
    }
}

.v-product {
    padding: 0px 15px;
    margin: 10px 0px;
}

.product-images {
    padding-bottom: 0px;
    padding-top: 60px;
}

.product-in {
    padding-top:0px;
}

.ingredient-list {
    margin-bottom: 30px;
}

.it-title {
    width: 100%;
    display: block;
}

.it-waarde {
    width: 100%;
    display: block;
}


.i-titel {
    font-size: 16px;
    padding-right: 42px;
}

.s-title h1 {
    font-size: 52px;
}

.scores-s h2 {

}

.ken-label {
    background: #E4EEFF;
    border-radius: 15px;
    padding: 13px 63px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: $main;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.kenmerken {
    margin-top:10px;
    margin-bottom: 30px;
    display: inline-block;
}

.productlogo {
    max-width: 200px;
}

#pagination .page-numbers {
    margin: 0px 4px;
    font-size: 18px;
    color: #000000;
    width: 50px;
    height: 50px;
    background: none;
    border-radius: 15px;
    display:flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#pagination .page-numbers:hover {
    background: #EEEEEE;
    text-decoration: none;
}

#pagination .current {
    width: 50px;
    height: 50px;
    color: #fff;
    background: $main;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#pagination svg {
    position: relative;
    top: -2px;
}

#pagination .current:hover {
    background: $main;
}


.breadcrumbs {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #333333;
    margin: 20px 0px;
    a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #828282;
        font-family: 'Open Sans', sans-serif;
    }
    .seperator {
        background-image:url(../img/seperator.svg);
        width:12px;
        height:12px;
        display: inline-block;
        background-size: contain;
    }
}

.header-page {
    background: $main;
    height: 200px;
}

.header-page .inner {
    text-align: center;
}

.header-page .inner h1 {
    color: #ffffff;
}

.header-page ul {
    margin:0px;
    display:inline-block;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.header-page ul li {
    float:left;
    margin:0px 20px;
    list-style: none;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 47px;
    color: #FFFFFF;
}

.header-page ul li:before {
    content:'';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right:5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image:url(../img/check.svg);
}